.header{
    display: flex;
    align-items: center;
    background-color: rgb(63, 58, 49);
    color: rgb(255, 126, 21);
    padding-left: 25px;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 32px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}