.sidenav{
    background-color: rgba(25, 25, 141, 0.842);
    width: 200px;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
    align-items: center;
}

.content{
    padding: 16px;

}