/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.orange {
    color: orange;
}

.v-middle{
    vertical-align: middle;
}

.back-color{
    background-color: white;
    color: black;
}

.msg-success{
    background-color: rgb(247, 242, 235);
    color: black;
}

.msg-error{
    background-color: red;
    color: white;
    font:  smaller;
}